<!DOCTYPE html>
<html lang="en">
<%- include('../../layout/head') %>
<body>
    <%- include('../../layout/header') %>
    <h1> <%= books.title %></h1>
    <h1> <%= books.author %></h1>
    <p> <%= books.description %></p>
    <img src='<%= books.image_url %>' alt=''>
    <p> <%= books.isbn %></p>
    <p> Bookshelf:<%= books.genre %></p>
<%- include('../../layout/footer') %>
<p><a href='/'> Return to Searches </a><p>

    <%- include('edit.ejs') %>
</body>
</html>