<!DOCTYPE html>
<html lang="en">
<%- include('../layout/head') %>
    </head>
    <body>
        <%- include('../layout/header') %>
        <h1> Index </h1>
        <form action='/searches' method='post'>
            <fieldset>
                <legend> Search </legend>
                <label for='title'> Title </label>
                    <input type= 'text' placeholder='Book Title' name='title' required>
                <label for='author'> Author </label>
                    <input type= 'text' placeholder='Book Author' name='author'>
                    <input type='submit' value='Find Book' required>
            </fieldset>
            </form>
        <ul>
            <% books.forEach(bookStuff => { %>
                <li>
                    <h3> <%= bookStuff.title %> - <%= bookStuff.author %></h3>

                <img src='<%= bookStuff.image_url %>' alt=''>
                
            </li>
           <% }) %>
        </ul>
        <h3> <%= books.length %></h3>
        <%- include('../layout/footer') %>
    </body>
<html>

