<!DOCTYPE html>
<html lang="en">
<%- include('../layout/head') %>
    </head>
    <body>
        <%- include('../layout/header') %>
        <h1> Index </h1>
        <ul>
            <% books.forEach(bookStuff => { %>
                <li>
                    <h3> <%= bookStuff.title %> - <%= bookStuff.author %></h3>

                <img src='<%= bookStuff.image_url %>' alt=''>
                
            </li>
           <% }) %>
        </ul>
        <h3> <%= books.length %></h3>
        <%- include('../layout/footer') %>
    </body>
<html>

